# OneHotEncoding

In [3]:
import pandas as pd

In [7]:
data = pd.DataFrame({
    'Sales' : [10000, 11000, 12000, 13000, 14000, 15000, 16000, 17000, 18000, 19000, 20000, 21000],
    'Cities' : ['Gilgit', 'Islamabad', 'Karachi', 'Lahore','Gilgit', 'Islamabad', 'Karachi', 'Lahore','Gilgit', 'Islamabad', 'Karachi', 'Lahore'],
    'Sizes' : ['Large', 'Medium', 'Small', 'Large','Large', 'Medium', 'Small', 'Large','Large', 'Medium', 'Small', 'Large']
})

data.head()

   Sales     Cities   Sizes
0  10000     Gilgit   Large
1  11000  Islamabad  Medium
2  12000    Karachi   Small
3  13000     Lahore   Large
4  14000     Gilgit   Large

In [8]:
data['Cities'].unique()

array(['Gilgit', 'Islamabad', 'Karachi', 'Lahore'], dtype=object)

In [12]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(handle_unknown = 'ignore', sparse_output = False).set_output(transform = 'pandas')
ohetransform = ohe.fit_transform(data[['Cities']])
ohetransform.head()

   Cities_Gilgit  Cities_Islamabad  Cities_Karachi  Cities_Lahore
0            1.0               0.0             0.0            0.0
1            0.0               1.0             0.0            0.0
2            0.0               0.0             1.0            0.0
3            0.0               0.0             0.0            1.0
4            1.0               0.0             0.0            0.0

In [13]:
data.head()

   Sales     Cities   Sizes
0  10000     Gilgit   Large
1  11000  Islamabad  Medium
2  12000    Karachi   Small
3  13000     Lahore   Large
4  14000     Gilgit   Large

In [ ]:
concat = pd.concat([df, ohetransform], axis = 1).drop(columns = )