# OrdinalEncoding

In [21]:
import pandas as pd

In [22]:
data = pd.DataFrame({
    'Sales' : [10000, 11000, 12000, 13000, 14000, 15000, 16000, 17000, 18000, 19000, 20000, 21000],
    'Cities' : ['Gilgit', 'Islamabad', 'Karachi', 'Lahore','Gilgit', 'Islamabad', 'Karachi', 'Lahore','Gilgit', 'Islamabad', 'Karachi', 'Lahore'],
    'Sizes' : ['Large', 'Medium', 'Small', 'Large','Large', 'Medium', 'Small', 'Large','Large', 'Medium', 'Small', 'Large']
})

data.head()

   Sales     Cities   Sizes
0  10000     Gilgit   Large
1  11000  Islamabad  Medium
2  12000    Karachi   Small
3  13000     Lahore   Large
4  14000     Gilgit   Large

In [23]:
data['Sizes'].unique()

array(['Large', 'Medium', 'Small'], dtype=object)

In [24]:
sizes = ['Large', 'Medium', 'Small']

In [26]:
from sklearn.preprocessing import OrdinalEncoder

oe = OrdinalEncoder(categories = [sizes])

oe.fit_transform(data[['Sizes']])

array([[0.],
       [1.],
       [2.],
       [0.],
       [0.],
       [1.],
       [2.],
       [0.],
       [0.],
       [1.],
       [2.],
       [0.]])

In [27]:
data.head()

   Sales     Cities   Sizes
0  10000     Gilgit   Large
1  11000  Islamabad  Medium
2  12000    Karachi   Small
3  13000     Lahore   Large
4  14000     Gilgit   Large

In [28]:
data['Sizes'] = oe.fit_transform(data[['Sizes']])

In [29]:
data.head()

   Sales     Cities  Sizes
0  10000     Gilgit    0.0
1  11000  Islamabad    1.0
2  12000    Karachi    2.0
3  13000     Lahore    0.0
4  14000     Gilgit    0.0