# Working on Pandas
Introduction

Pandas is a powerful and flexible data analysis library in Python. It provides data structures like Series and DataFrame, which are essential for data manipulation and analysis. This lab manual will guide you through the basics of using Pandas.

# 1. Series
Definition: 

A Series is a one-dimensional labeled array that can hold data of any type (integer, string, float, etc.). It is similar to a column in an Excel spreadsheet or a single column in a database table.
Labels: Each element in a Series is associated with a label, called an index. If no index is provided, Pandas automatically assigns a default index starting from 0.

In [1]:
import pandas as pd

# Creating a Series
data = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])

print(data)

a    10
b    20
c    30
d    40
dtype: int64

# 2. DataFrame
A DataFrame is a two-dimensional, tabular data structure with labeled axes (rows and columns). 
It can be thought of as a table or a collection of Series objects.
Each column in a DataFrame is a Series, and the DataFrame itself is like a spreadsheet or SQL table.

It consists of rows and columns:
    
    --  Index: Row labels.
    --- Columns: Column labels.
    --- Data: The actual data stored in a tabular form.

In [2]:
import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'Salary': [50000, 60000, 70000, 80000]
}

df = pd.DataFrame(data)

print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    David   40   80000

# Key Differences:
Series is a single column of data, whereas DataFrame is a multi-dimensional table with multiple columns.
Series can be thought of as a single row or column of data with an index, while DataFrame can be considered a collection of multiple Series aligned on the same index.

# Task

In [3]:
# Create a Series:
import pandas as pd

# Creating the Series
data = pd.Series([3.5, 4.2, 7.8, 5.6, 2.4], index=['A', 'B', 'C', 'D', 'E'])

# Print the Series
print(data)

A    3.5
B    4.2
C    7.8
D    5.6
E    2.4
dtype: float64

In [5]:
# Access and Modify Elements:
# Access the value at index 'C'
value_c = data['C']
print("Value at index 'C':", value_c)

# Modify the value at index 'B' to 5.0
data['B'] = 5.0

# Print the modified Series
print(data)

Value at index 'C': 7.8
A    3.5
B    5.0
C    7.8
D    5.6
E    2.4
dtype: float64

In [6]:
#  Basic Operations:
# Multiply all values in the Series by 2
doubled_data = data * 2

# Print the result
print(doubled_data)

A     7.0
B    10.0
C    15.6
D    11.2
E     4.8
dtype: float64

In [7]:
# Filtering:
# Filter the Series to include only values greater than 5
filtered_data = data[data > 5]

# Print the filtered Series
print(filtered_data)

C    7.8
D    5.6
dtype: float64

#  Part 2: Working with DataFrame

In [8]:
# Create a DataFrame:
# Creating the DataFrame
df = pd.DataFrame({
    'Product': ['Apple', 'Banana', 'Orange', 'Grapes', 'Mango'],
    'Quantity': [10, 20, 15, 12, 8],
    'Price': [30, 10, 20, 40, 50]
})

# Print the DataFrame
print(df)

  Product  Quantity  Price
0   Apple        10     30
1  Banana        20     10
2  Orange        15     20
3  Grapes        12     40
4   Mango         8     50

In [9]:
# Accessing Data:

# Access and print the 'Quantity' column
quantity_column = df['Quantity']
print(quantity_column)

# Access and print the row corresponding to 'Orange'
orange_row = df[df['Product'] == 'Orange']
print(orange_row)

0    10
1    20
2    15
3    12
4     8
Name: Quantity, dtype: int64
  Product  Quantity  Price
2  Orange        15     20

In [10]:
#  Adding a New Column:
# 
# Add a new column 'Total Cost' which is Quantity * Price
df['Total Cost'] = df['Quantity'] * df['Price']

# Print the updated DataFrame
print(df)

  Product  Quantity  Price  Total Cost
0   Apple        10     30         300
1  Banana        20     10         200
2  Orange        15     20         300
3  Grapes        12     40         480
4   Mango         8     50         400

In [12]:
#  Filtering and Sorting:

# Filter the DataFrame to show only products with 'Total Cost' > 300
filtered_df = df[df['Total Cost'] > 300]

# Sort the DataFrame by 'Price' in descending order
sorted_df = df.sort_values(by='Price', ascending=False)

# Print the filtered and sorted DataFrame
print("Filtered DataFrame:\n", filtered_df)
print("\nSorted DataFrame:\n", sorted_df)

Filtered DataFrame:
   Product  Quantity  Price  Total Cost
3  Grapes        12     40         480
4   Mango         8     50         400

Sorted DataFrame:
   Product  Quantity  Price  Total Cost
4   Mango         8     50         400
3  Grapes        12     40         480
0   Apple        10     30         300
2  Orange        15     20         300
1  Banana        20     10         200

In [14]:
# Data Aggregation:

# Calculate the total quantity of all products
total_quantity = df['Quantity'].sum()

# Calculate the average price of the products
average_price = df['Price'].mean()

# Print the results
print("Total Quantity of all products:", total_quantity)
print("Average Price of products:", average_price)

Total Quantity of all products: 65
Average Price of products: 30.0

# 3. Data Manipulation

.1 Viewing Data

    ---Viewing DataFrame Information

In [16]:


# View the first few rows

print("View the first few rows of df")
print(df.head())

# View the last few rows

print("View the first Tail rows of df")
print(df.tail())

# Get summary statistics

print("View the summary few rows of df")
print(df.describe())

View the first few rows of df
  Product  Quantity  Price  Total Cost
0   Apple        10     30         300
1  Banana        20     10         200
2  Orange        15     20         300
3  Grapes        12     40         480
4   Mango         8     50         400
View the first Tail rows of df
  Product  Quantity  Price  Total Cost
0   Apple        10     30         300
1  Banana        20     10         200
2  Orange        15     20         300
3  Grapes        12     40         480
4   Mango         8     50         400
View the summary few rows of df
        Quantity      Price  Total Cost
count   5.000000   5.000000    5.000000
mean   13.000000  30.000000  336.000000
std     4.690416  15.811388  107.144762
min     8.000000  10.000000  200.000000
25%    10.000000  20.000000  300.000000
50%    12.000000  30.000000  300.000000
75%    15.000000  40.000000  400.000000
max    20.000000  50.000000  480.000000

# Indexing and Selecting Data

In [20]:
import pandas as pd

# Select a single column
print(df['Product'])

# Select multiple columns
print(df[['Product', 'Price']])

# Select rows by label
print("\n Select rows by label")
print(df.loc[1])

# Select rows by index

print("\n Select rows by index")

print(df.iloc[1])

0     Apple
1    Banana
2    Orange
3    Grapes
4     Mango
Name: Product, dtype: object
  Product  Price
0   Apple     30
1  Banana     10
2  Orange     20
3  Grapes     40
4   Mango     50

 Select rows by label
Product       Banana
Quantity          20
Price             10
Total Cost       200
Name: 1, dtype: object

 Select rows by index
Product       Banana
Quantity          20
Price             10
Total Cost       200
Name: 1, dtype: object

# Data Cleaning

Handling Missing Data

In [21]:
import pandas as pd
import numpy as np

# Create a DataFrame with missing values
data = {
    'A': [1, 2, np.nan, 4, 5],
    'B': [5, np.nan, np.nan, 8, 10]
}
df = pd.DataFrame(data)
print(df)

# Fill missing values
df_filled = df.fillna(0)
print(df_filled)

# Drop missing values
df_dropped = df.dropna()
print(df_dropped)

     A     B
0  1.0   5.0
1  2.0   NaN
2  NaN   NaN
3  4.0   8.0
4  5.0  10.0
     A     B
0  1.0   5.0
1  2.0   0.0
2  0.0   0.0
3  4.0   8.0
4  5.0  10.0
     A     B
0  1.0   5.0
3  4.0   8.0
4  5.0  10.0

# Data Operations
    5.1 Grouping Data

In [22]:
import pandas as pd

# Create a DataFrame
data = {
    'Team': ['A', 'B', 'A', 'B', 'A'],
    'Points': [10, 20, 15, 30, 25]
}
df = pd.DataFrame(data)

# Group by 'Team' and sum the 'Points'
grouped = df.groupby('Team')['Points'].sum()
print(grouped)

Team
A    50
B    50
Name: Points, dtype: int64

# Merging and Joining
     Merging DataFrames

In [23]:
import pandas as pd

# Create two DataFrames
data1 = {
    'Key': ['K0', 'K1', 'K2', 'K3'],
    'A': ['A0', 'A1', 'A2', 'A3']
}

data2 = {
    'Key': ['K0', 'K1', 'K2', 'K3'],
    'B': ['B0', 'B1', 'B2', 'B3']
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Merge the DataFrames on 'Key'
merged_df = pd.merge(df1, df2, on='Key')
print(merged_df)

  Key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

## Importing Dataset

In [26]:
data_1 = pd.read_excel("C:\Users\Shekhani Laptop\Downloads\Superstore-Dataset.xls")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (1976179737.py, line 1)

In [24]:
!chdir

C:\Users\Shekhani Laptop\DSAI-II\Module_DV

In [25]:
import matplotlib.pyplot as plt