# PANDAS Series

In [28]:
import pandas as pd

days_data = pd.Series( [1, 2, 3, 4, 5, 6, 7], index =['Mondey','Tuesday','Wednesday','Thursday','Friday','Satureday','Sunday'])
days_data

Mondey       1
Tuesday      2
Wednesday    3
Thursday     4
Friday       5
Satureday    6
Sunday       7
dtype: int64

In [26]:
index_number = days_data['Friday']
print('The Index of The Wednesday is : ', index_number)

The Index of The Wednesday is :  5

In [31]:
days_data['Wednesday'] = 9
days_data

Mondey       1
Tuesday      2
Wednesday    9
Thursday     4
Friday       5
Satureday    6
Sunday       7
dtype: int64

In [33]:
new_data = days_data*2
new_data

Mondey        2
Tuesday       4
Wednesday    18
Thursday      8
Friday       10
Satureday    12
Sunday       14
dtype: int64

In [40]:
filter_data = new_data[days_data >= 5].sum()
filter_data

54

# Pandas DataFrame

In [48]:
school_data = {
    'Name' : ['Ali','Asad','Irfan','Muzamil','Nadia','Sanila'],
    'Age' : [18, 18, 19, 20, 16, 21],
    'Class' : ['12th','11th','12th','12th','9th','12th']

}

detail = pd.DataFrame(school_data)
detail

      Name  Age Class
0      Ali   18  12th
1     Asad   18  11th
2    Irfan   19  12th
3  Muzamil   20  12th
4    Nadia   16   9th
5   Sanila   21  12th

In [45]:
age_data = school_data['Age']
print(age_data)

[18, 18, 19, 20, 16, 21]

In [47]:
class_data = school_data['Class']
class_data

['12th', '11th', '12th', '12th', '9th', '12th']

In [50]:
names_data = school_data['Name']
names_data

['Ali', 'Asad', 'Irfan', 'Muzamil', 'Nadia', 'Sanila']

In [51]:
print(school_data['Age'][2])

19

In [53]:
print(school_data['Name'][3])

Muzamil

In [54]:
print(school_data['Class'][1])

11th

In [58]:
row = school_data(school_data['Name'] == 'Nadia')
row

TypeError: 'dict' object is not callable